undefinedbackup_2025-03-31T20-03-38-554Z.json
{
  "active": false,
  "connections": {
    "Execute workflow": {
      "main": [
        [
          {
            "node": "Set date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set date": {
      "main": [
        [
          {
            "node": "Format date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format date": {
      "main": [
        [
          {
            "node": "Set commit date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set commit date": {
      "main": [
        [
          {
            "node": "List files from repository [GITHUB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repository [GITHUB]": {
      "main": [
        [
          {
            "node": "Combine file names [GITHUB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine file names [GITHUB]": {
      "main": [
        [
          {
            "node": "Retrieve workflows [N8N]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows [N8N]": {
      "main": [
        [
          {
            "node": "Move JSON to binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move JSON to binary": {
      "main": [
        [
          {
            "node": "Split to single items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split to single items": {
      "main": [
        [
          {
            "node": "Check if file exists in repository",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists in repository": {
      "main": [
        [
          {
            "node": "Update file [GITHUB]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file [GITHUB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file [GITHUB]": {
      "main": [
        [
          {
            "node": "Split to single items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file [GITHUB]": {
      "main": [
        [
          {
            "node": "Split to single items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-28T22:18:49.800Z",
  "id": "t96br0b7Ta7MA6XO",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "BACKUP",
  "nodes": [
    {
      "parameters": {},
      "id": "4fa72e7a-cf29-4ecc-b766-efda9c9b9580",
      "name": "Execute workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1760,
        180
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9055f978-99ed-4268-9c9c-d1e738f5bb82",
      "name": "Set date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1560,
        180
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "dd-MM-yyyy/H:mm",
        "options": {}
      },
      "id": "bb5679ee-3eaf-45ec-817a-9cb44a99c69b",
      "name": "Format date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1360,
        180
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "commitDate",
              "value": "={{ $json.formattedDate }}"
            }
          ]
        },
        "options": {}
      },
      "id": "88e2eba4-7a72-4c86-8b49-8ff23c8345c9",
      "name": "Set commit date",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1160,
        180
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "https://github.com/Misapr-bro/n8n_template",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_template",
          "mode": "list",
          "cachedResultName": "n8n_template",
          "cachedResultUrl": "https://github.com/Misapr-bro/n8n_template"
        },
        "filePath": "="
      },
      "id": "008a09bc-9b2d-4ac5-b307-382263176bd8",
      "name": "List files from repository [GITHUB]",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -960,
        180
      ],
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "Qy3dNKfNAeCihm3H",
          "name": "GitHub account back"
        }
      }
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "169cb548-9ec2-41f2-bd88-560856acaf0f",
      "name": "Combine file names [GITHUB]",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        -760,
        180
      ]
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "0ba48f24-9684-404c-b7bf-2254ada340cb",
      "name": "Retrieve workflows [N8N]",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -560,
        180
      ],
      "credentials": {
        "n8nApi": {
          "id": "8ThPumwZs2psTgyn",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "options": {
          "fileName": "={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"
        }
      },
      "id": "1bcd582e-8eae-4b88-a52a-ecdc214e68ba",
      "name": "Move JSON to binary",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        -360,
        180
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "468c3084-9eb6-4935-b501-03cfca218e1f",
      "name": "Split to single items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -120,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node['Combine file names [GITHUB]'].json.name }}",
              "operation": "contains",
              "value2": "={{ $binary.data.fileName }}"
            }
          ]
        }
      },
      "id": "1322a9b5-4647-4d97-9f73-d26e31505f42",
      "name": "Check if file exists in repository",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        120,
        100
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "Misapr-bro",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_template",
          "mode": "name"
        },
        "filePath": "=backups/backup_{{ $now.toFormat(\"yyyyLLdd_HHmmss\") }}.json\n",
        "fileContent": "bekup",
        "commitMessage": "=backup-{{ $node['Set commit date'].json.commitDate }}"
      },
      "id": "f99be511-eae1-4585-9189-9aad7d23aa36",
      "name": "Update file [GITHUB]",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        320,
        -100
      ],
      "credentials": {
        "githubApi": {
          "id": "Qy3dNKfNAeCihm3H",
          "name": "GitHub account back"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Misapr-bro",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_template",
          "mode": "name"
        },
        "filePath": "=backups/backup_{{ $now.toFormat(\"yyyyLLdd_HHmmss\") }}.json",
        "binaryData": "={{ true }}",
        "commitMessage": "=Backup {{ $now.toFormat(\"yyyy-LL-dd HH:mm\") }}"
      },
      "id": "d12f1d81-7d38-47a8-9d6a-9e55d2d03bdb",
      "name": "Upload file [GITHUB]",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        360,
        280
      ],
      "credentials": {
        "githubOAuth2Api": {
          "id": "kM85vRZ57bTC24A1",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "## @igorzuevich \n**Автор** на [YouTube](https://www.youtube.com/@igorzuevich)",
        "height": 240,
        "width": 280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6860,
        1460
      ],
      "typeVersion": 1,
      "id": "05faf1d9-3720-4012-9dd4-f16672f7e02b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1760,
        40
      ],
      "id": "2402e977-0a4f-4d86-9686-4130808c5b2d",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "repo_name": "n8n_template",
  "repo_owner": "Misapr-bro",
  "repo_path  ": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-03-30T21:24:34.963Z",
  "versionId": "96d17fd9-9167-4cbc-8e2c-dfa2274a8e96"
}