undefinedbackup_2025-03-31T20-07-45-279Z.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Мой Терминатор",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent": {
      "ai_tool": [
        [
          {
            "node": "Мой Терминатор",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contact Agent": {
      "ai_tool": [
        [
          {
            "node": "Мой Терминатор",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Мой Терминатор",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "Мой Терминатор",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Мой Терминатор",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "Мой Терминатор",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Мой Терминатор": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        []
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Set Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "Get Image Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI4": {
      "main": [
        [
          {
            "node": "Set Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image Info": {
      "main": [
        [
          {
            "node": "OpenAI4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message": {
      "main": [
        [
          {
            "node": "Мой Терминатор",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-31T14:46:47.219Z",
  "id": "UAH5e75iIpVtzh4w",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Мой Терминатор",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        120,
        380
      ],
      "id": "d2f74e27-60fa-4a52-89f5-046ad309c235",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "eV4JKiCHG17jXfX0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "emailAgent",
        "description": "Call this tool for any email actions.",
        "workflowId": {
          "__rl": true,
          "value": "15YLusuTwvTU9mHj",
          "mode": "list",
          "cachedResultName": "Terminator_Email"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        900,
        660
      ],
      "id": "657c9f10-575e-45cf-9f8d-d1e9b5f09f05",
      "name": "Email Agent"
    },
    {
      "parameters": {
        "name": "contactAgent",
        "description": "Use this tool to get, update, or add contacts",
        "workflowId": {
          "__rl": true,
          "value": "6nm62ymf5bJREFyA",
          "mode": "list",
          "cachedResultName": "Terminator_Contacts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        520,
        660
      ],
      "id": "99812390-4ca3-4564-a18a-cf8e23f3450c",
      "name": "Contact Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        120,
        580
      ],
      "id": "5d2352e8-6047-4bf5-aa9f-f241d828119e",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the internet.",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"api_key\": \"PASTE_YOUR_API_KEY\",\n    \"query\": \"{searchTerm}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "What the user has requested to search the internet for",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1020,
        660
      ],
      "id": "39bca058-aca8-4ce3-b361-9a0a47ed4db7",
      "name": "Tavily"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        260,
        660
      ],
      "id": "6c8d110b-9fe3-4df1-a637-604554b9c84a",
      "name": "Calculator"
    },
    {
      "parameters": {
        "name": "calendarAgent",
        "description": "Call this tool for any calendar action.",
        "workflowId": {
          "__rl": true,
          "value": "gqMqzUGr3bl2DFyI",
          "mode": "list",
          "cachedResultName": "Terminator_Calendar"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        780,
        660
      ],
      "id": "8c52453d-f251-4ed6-a28b-24b4e43c68f3",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "23ad01b8-9074-484b-8450-2bf4c26124bc",
      "name": "Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        200
      ],
      "webhookId": "5dced4b9-5066-4036-a4d4-14fc07edd53c",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "A1ksr9yMznqLrGdR",
          "name": "@Mirtelebot_bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "options": {
          "systemMessage": "=# Overview\nYou are the ultimate personal assistant. Your job is to send the user's query to the correct tool. You should never be writing emails, or creating even summaries, you just need to call the correct tool. \n\n## Tools\n- emailAgent: Use this tool to take action in email\n- calendarAgent: Use this tool to take action in calendar\n- contactAgent: Use this tool to get, update, or add contacts\n- Tavily: Use this tool to search the web\n\n## Rules\n- Some actions require you to look up contact information first. For the following actions, you must get contact information and send that to the agent who needs it:\n  - sending emails\n  - drafting emails\n  - creating calendar event with attendee\n\n## Examples\n1) \n- Input: send an email to Alex asking him what time he wants to leave\n  - Action: Use contactAgent to get tom Alex's email\n  - Action: Use emailAgent to send the email. You will pass the tool a query like \"send Alex an email to ask what time he wants to leave. here is his email: [email address]\n- Output: The email has been sent to Alex. Anything else I can help you with?\n\n## My name is Mikhail\n\n## Final Reminders\n- Here is the current date/time: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        320,
        200
      ],
      "id": "3667342a-b8ed-4a83-8ddd-0515b4ec62bd",
      "name": "Мой Терминатор"
    },
    {
      "parameters": {
        "content": "## AI Агенты\nВыполняют входящие поручения от Терминатора",
        "height": 280,
        "width": 740,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        540
      ],
      "id": "d95b77dd-0896-4823-a7b1-081c7dd547ca",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Set Message').item.json.message_id }}",
        "tableName": "telegram_messages",
        "contextWindowLength": 10000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        0,
        720
      ],
      "id": "74d4fe7f-9abc-4012-9593-03376d523bae",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "ezPnLuYaiAGnzvuD",
          "name": "n8n_Code"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1940,
        100
      ],
      "id": "442a75f4-21c6-4981-a8fb-077891e2b7da",
      "name": "Telegram Trigger",
      "webhookId": "b33d2025-01c2-4386-b677-206a87a1856b",
      "credentials": {
        "telegramApi": {
          "id": "A1ksr9yMznqLrGdR",
          "name": "@Mirtelebot_bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b982f2f8-9f79-4303-821b-4d82117edf09",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1a52b406-1df9-4c47-85c7-1de7e4c5365e",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1460,
        100
      ],
      "id": "e37d79c9-1c4b-4891-abd5-4c8960f52c26",
      "name": "Switch1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -820,
        -60
      ],
      "id": "9a401f32-7166-40dc-8e85-5c9d00291ade",
      "name": "OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "eV4JKiCHG17jXfX0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1040,
        -60
      ],
      "id": "e47e3c23-eee8-4a64-b029-871bff27f408",
      "name": "Telegram",
      "webhookId": "06849504-8197-467f-9284-cb2780746c26",
      "credentials": {
        "telegramApi": {
          "id": "A1ksr9yMznqLrGdR",
          "name": "@Mirtelebot_bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[$json.message.photo.length - 1].file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1040,
        -260
      ],
      "id": "3dffaa2b-eeb6-4a57-8f0a-b82471b83bd5",
      "name": "Telegram1",
      "webhookId": "9a8552f5-1ece-46a9-ab11-9c476af9b36d",
      "credentials": {
        "telegramApi": {
          "id": "A1ksr9yMznqLrGdR",
          "name": "@Mirtelebot_bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -600,
        -260
      ],
      "id": "419f56f5-9417-4aa7-afb8-40d22590fd82",
      "name": "OpenAI4",
      "credentials": {
        "openAiApi": {
          "id": "eV4JKiCHG17jXfX0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "information"
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -820,
        -260
      ],
      "id": "05b3b4b3-d3c1-44f9-8f6e-a53effeebc2e",
      "name": "Get Image Info"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0fb56f9-3f37-4b79-a782-39bbd8030bb8",
              "name": "userMessage",
              "value": "={{ $json.text || $json.content || $json.body?.message || $json.message.text }}",
              "type": "string"
            },
            {
              "id": "48a0a0d8-82e8-4bef-838d-11e98d60a56a",
              "name": "modal",
              "value": "={{ \n\n$json.text \n  ? \"audio\"\n  : ($json.content \n    ? \"image\"\n    : \"text\")\n\n}}",
              "type": "string"
            },
            {
              "id": "b3231910-5920-47c3-b700-13fdde6b351a",
              "name": "query",
              "value": "={{ $json.text || $json.content || $json.body?.message || $json.message.text }}",
              "type": "string"
            },
            {
              "id": "dfcde2ab-f646-4528-b6b7-b5e691f39eae",
              "name": "message_id",
              "value": "={{ $json.message.message_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        80
      ],
      "id": "b1ba387a-0ea3-4f5a-a564-91c3969407b7",
      "name": "Set Message"
    },
    {
      "parameters": {
        "content": "# Telegram Trigger",
        "height": 760,
        "width": 1960,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2040,
        -360
      ],
      "id": "c097ebdb-6f44-424c-aaf3-5ce338519266",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "repo_name": "n8n_template",
  "repo_owner": "Misapr-bro",
  "repo_path  ": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-03-31T15:37:59.097Z",
  "versionId": "1cda84c6-36c9-4eee-9bde-8182d010caff"
}